Package: com.lawivido.battlehearthack
Name: Battleheart Hack
Depends: mobilesubstrate
Version: 1.0.0
Architecture: iphoneos-arm
Description: Patcher for Battleheart!
Maintainer: Lawivido
Author: Lawivido
Section: Tweaks
